
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Control de notificaciones">
        <meta name="keywords" content="Notificaciones, Bestel, Mantenimiento">
        <meta name="author" content="Emmanuel Bautista Palacios, Nisi Jared Vallejo Luria">
        <title>Control de Notificaciones de Ventanas para Mantenimiento</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
        rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" 
        crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Anton|Montserrat&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../resources/css/header2.css" type="text/css">
    </head>
<body>     
<nav class="navbar navbar-expand-lg navbar-light nav g-0">
  <div class="container">
    <a class="navbar-brand" href="#">
    <img src="../resources/img/Bestel.svg" class="logo" alt="logo de bestel">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0 navg ms-auto">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/contactanos">Contactanos</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <% if (login) { %>
            <%- name %>
            <% }else { %>
            Usuario
            <% } %>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">LO QUE SEA</a></li>
            <li><a class="dropdown-item" href="#">LO QUE SEA</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" name="close-session" href="/csesion"> Cerrar sesión</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

